* {
  box-sizing: border-box;
}

.loginPage {
  position: relative;
  background: #e6f3ffbf;
  width: 1440px;
  height: 1024px;
  overflow: hidden;

  .blobsVector {
    position: absolute;
    top: 143px;
    left: 24px;
    width: 526px;
    height: 661px;
  }

  .blobsVector2 {
    position: absolute;
    top: 79px;
    left: 103px;
    width: 530px;
    height: 607px;
  }

  .blobsVector3 {
    position: absolute;
    top: 488px;
    left: 0;
    width: 550px;
    height: 469px;
  }

  .mainImage {
    position: absolute;
    top: 190px;
    left: 47px;
    width: 419px;
    height: 613px;
  }

  .content {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 25px 0px 0px 25px;
    background: #fcfeff;
    padding: 124px 122px 44px 123px;
    width: 845px;
    height: 1024px;

    .input {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 20px;
      background: #b0bac366;
      width: 600px;
      height: 65px;
    }

    .fullName {
      margin: 0px 0px 0px 2px;
      line-height: 30px;
      letter-spacing: 0;
      color: #7c838a;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }

    .title {
      margin: 0px 0px 0px 131px;
      line-height: 39px;
      letter-spacing: 0;
      color: #000000;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 26px;
      font-weight: 600;
    }

    .fullNameInput {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 52px;

      .nameInp {
        position: relative;
        width: 600px;
        height: 65px;

        .enterYourFulllNameHe {
          position: absolute;
          top: 17px;
          left: 40px;
          width: 260px;
          height: 30px;
          line-height: 30px;
          letter-spacing: 0;
          color: #00000080;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }
      }
    }

    .emailInput {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 41px;

      .emailInp {
        position: relative;
        width: 600px;
        height: 65px;

        .enterYourEmailHere {
          position: absolute;
          top: 17px;
          left: 40px;
          width: 210px;
          height: 30px;
          line-height: 30px;
          letter-spacing: 0;
          color: #00000080;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }
      }
    }

    .passwordInput {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 40px;

      .passwordInp {
        position: relative;
        width: 600px;
        height: 65px;

        .enterYourPasswordHer {
          position: absolute;
          top: 17px;
          left: 40px;
          width: 252px;
          height: 30px;
          line-height: 30px;
          letter-spacing: 0;
          color: #00000080;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }
      }
    }

    .buttonFrame {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin: 40px 139px 0px 121px;
      border-radius: 10px;
      background: #f9ed32;
      padding: 10px 55px 11px 70px;

      .createAccount {
        width: 215px;
        letter-spacing: 0;
        color: #000000;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 26px;
        font-weight: 500;
      }
    }

    .alreadyHaveAAccountL4 {
      margin: 15px 0px 0px 2px;
      line-height: 27px;
      letter-spacing: 0;
      color: #000000;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 18px;

      .alreadyHaveAAccountL {
        letter-spacing: 0;
        color: #7c838a;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .alreadyHaveAAccountL2 {
        letter-spacing: 0;
        color: #000000;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }

      .alreadyHaveAAccountL3 {
        letter-spacing: 0;
        color: #f9ed32;
        font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
      }
    }

    .aOr {
      margin: 41px 0px 0px 251px;
      line-height: 39px;
      letter-spacing: 0;
      color: #b0bac3;
      font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 26px;
      font-weight: 500;
    }

    .autoWrapper {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 15px;
      padding-right: 48px;
      padding-left: 31px;

      .google {
        width: 50px;
        height: 50px;
      }

      .buttonFrame2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #7c838a;
        border-radius: 15px;
        padding: 2px 12px 1px 6px;
        width: 220px;
        min-width: 220px;
        height: 55px;

        .singUpWithGoogle {
          width: 141px;
          height: 21px;
          letter-spacing: 0;
          color: #7c838a;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .buttonFrame3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #7c838a;
        border-radius: 15px;
        padding: 2px 15px 1px 9px;
        width: 220px;
        min-width: 220px;
        height: 55px;

        .singUpWithGitHub {
          width: 138px;
          height: 21px;
          letter-spacing: 0;
          color: #7c838a;
          font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .reservedDirectsToLeo {
      margin: 84px 0px 0px 152px;
      line-height: 23px;
      letter-spacing: 0;
      color: #7c838a;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
    }
  }
}
