* {
  box-sizing: border-box;
}

.projectData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  padding: 100px 65px 43px 100px;
  width: 1440px;
  height: 1024px;
  overflow: hidden;

  .autoWrapper9 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .typography {
      line-height: 56px;
      letter-spacing: 0;
      color: #000000;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 48px;
      font-weight: 500;
      font-style: italic;
    }

    .autoWrapper5 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .typography2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 29px;

        .fontPoppins2 {
          letter-spacing: 0;
          color: #000000;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 36px;
          font-weight: 500;
          font-style: italic;
        }

        .fontPoppins {
          letter-spacing: 0;
          color: #000000;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 36px;
        }

        .fontPoppins4 {
          margin: 44px 0px 0px 50px;
          line-height: 54px;
          letter-spacing: 0;
          color: #000000;
          font-size: 36px;

          .fontPoppins3 {
            letter-spacing: 0;
            color: #000000;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 36px;
            font-weight: 500;
            font-style: italic;
          }
        }

        .styleSemiBoldMediumR4 {
          margin: 10px 0px 0px 50px;
          line-height: 54px;
          letter-spacing: 0;
          color: #000000;
          font-size: 36px;

          .styleSemiBoldMediumR {
            letter-spacing: 0;
            color: #000000;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 36px;
            font-weight: 600;
          }

          .styleSemiBoldMediumR2 {
            letter-spacing: 0;
            color: #000000;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 36px;
            font-weight: 500;
          }

          .styleSemiBoldMediumR3 {
            letter-spacing: 0;
            color: #000000;
            font-family: Poppins, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 36px;
          }
        }

        .fontSize14182026 {
          margin: 11px 0px 0px 50px;
          line-height: 42px;
          letter-spacing: 0;
          color: #000000;
          font-size: 36px;
        }
      }

      .colors {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 29px;

        .aB0Bac340 {
          line-height: 42px;
          letter-spacing: 0;
          color: #000000;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 36px;
          font-style: italic;
        }

        .autoWrapper {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 38px;
          padding-right: 0;
          padding-left: 50px;

          .aBobac3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 294px;
            min-width: 294px;
            height: 60px;

            .frame {
              border: 1px solid #000000;
              background: #b0bac366;
              width: 60px;
              height: 60px;
            }
          }

          .aD9Bd32 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 219px;
            min-width: 219px;
            height: 60px;

            .frame2 {
              border: 1px solid #000000;
              background: #d9bd32;
              width: 60px;
              height: 60px;
            }
          }
        }

        .autoWrapper2 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 26px;
          padding-right: 6px;
          padding-left: 50px;

          .aE6F3Ff {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 283px;
            min-width: 283px;
            height: 60px;

            .frame3 {
              border: 1px solid #000000;
              background: #e6f3ffbf;
              width: 60px;
              height: 60px;
            }
          }

          .aF9Ed32 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 213px;
            min-width: 213px;
            height: 60px;

            .frame4 {
              border: 1px solid #000000;
              background: #f9ed32;
              width: 60px;
              height: 60px;
            }
          }
        }

        .autoWrapper3 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 26px;
          padding-right: 6px;
          padding-left: 50px;

          .a00000050 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 284px;
            min-width: 284px;
            height: 60px;

            .frame5 {
              border: 1px solid #000000;
              background: #00000080;
              width: 60px;
              height: 60px;
            }
          }

          .aF2D335 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 213px;
            min-width: 213px;
            height: 60px;

            .frame6 {
              border: 1px solid #000000;
              background: #f2d335;
              width: 60px;
              height: 60px;
            }
          }
        }

        .autoWrapper4 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 26px;
          padding-right: 9px;
          padding-left: 50px;

          .a7C838A {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 216px;
            min-width: 216px;
            height: 60px;

            .frame7 {
              border: 1px solid #000000;
              background: #7c838a;
              width: 60px;
              height: 60px;
            }
          }

          .a000000 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 210px;
            min-width: 210px;
            height: 60px;

            .frame8 {
              border: 1px solid #000000;
              background: #000000;
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }

    .line1 {
      opacity: 0.9;
      margin-top: 356px;
      margin-left: -305px;
      background: #b0bac3;
      width: 712px;
      height: 1px;
      rotate: -90deg;
    }

    .plugins {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: -287px;

      .communityLinkHttpsWw3 {
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-style: italic;
      }

      .communityLinkHttpsWw {
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 500;
      }

      .blobs {
        line-height: 42px;
        letter-spacing: 0;
        color: #000000;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 36px;
      }

      .blobsPlugin {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 40px;
        margin-left: 6px;

        .autoWrapper6 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 296px;
          padding-left: 0;

          .image1 {
            width: 73px;
            height: 72px;
          }
        }

        .communityLinkHttpsWw4 {
          margin: 10px 0px 0px;
          width: 479px;
          height: 80px;
          letter-spacing: 0;
          color: #000000;
          font-size: 24px;

          .communityLinkHttpsWw2 {
            letter-spacing: 0;
            color: #000000;
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }
      }

      .icons8Plugin {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 40px;
        margin-left: 6px;

        .autoWrapper7 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 182px;
          padding-left: 0;

          .image2 {
            width: 72px;
            height: 72px;
          }
        }

        .communityLinkHttpsWw5 {
          margin: 14px 0px 0px;
          width: 479px;
          height: 80px;
          letter-spacing: 0;
          color: #000000;
          font-size: 24px;
        }
      }

      .unsplashPlugin {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 40px;
        margin-left: 6px;

        .autoWrapper8 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 238px;
          padding-left: 0;

          .image3 {
            width: 74px;
            height: 71px;
          }
        }

        .communityLinkHttpsWw6 {
          margin: 15px 0px 0px;
          width: 479px;
          height: 80px;
          letter-spacing: 0;
          color: #000000;
          font-size: 24px;
        }
      }
    }
  }

  .reservedDirectsToLeo {
    margin: 146px 0px 0px 543px;
    line-height: 23px;
    letter-spacing: 0;
    color: #7c838a;
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
}
